Source: python-django-userlog
Section: web
Priority: extra
Maintainer: Rodney Lorrimar <rlorrimar@ccg.murdoch.edu.au>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://bitbucket.org/ccgmurdoch/django-userlog/wiki/Home
Vcs-Hg: https://bitbucket.org/ccgmurdoch/django-userlog
Vcs-Browser: https://bitbucket.org/ccgmurdoch/django-userlog/src

Package: python-django-userlog
Architecture: any
Depends: ${misc:Depends},
         ${python:Depends},
         python-django (>= 1.5),
         python-django-south
Description: A django middleware to record user log in ip addresses and user agent.
 Django Userlog is a small Django app that allow you to log basic
 information about successful and failed login attempts to a database.
 .
 It logs the following information for each login/login attempt:
  * Username
  * IP address
  * Forwarded by
  * User Agent
  * Timestamp
